html,
body {
    height: 100%;
}

:root {
    --jet: #353535ff;
    --ming: #3c6e71ff;
    --white: #ffffffff;
    --gainsboro: #d9d9d9ff;
    --indigo-dye: #284b63ff;
}

/* Light mode */
@media (prefers-color-scheme: light) {
    body {
        background-color: var(--gainsboro);
        color: var(--jet);
    }
}

/* Dark mode */
@media (prefers-color-scheme: dark) {
    body {
        background-color: var(--jet);
        color: var(--gainsboro);
    }
}

a {
    text-decoration: none;
    padding: 0.5rem;
}

