html,
body {
    height: 100%;
}

:root {
    --jet: #353535ff;
    --ming: #3c6e71ff;
    --white: #ffffffff;
    --gainsboro: #d9d9d9ff;
    --indigo-dye: #284b63ff;
}

/* Light mode */
@media (prefers-color-scheme: light) {
    body {
        background-color: var(--gainsboro);
        color: var(--jet);
    }

    a, a:hover {
        color: var(--jet);
    }

    a:hover {
        border-radius: 8px;
        transform: translateY(-1px);
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    #logo {
        content:url("images/logo_black_tp.png");
    }
}

/* Dark mode */
@media (prefers-color-scheme: dark) {
    body {
        background-color: var(--jet);
        color: var(--gainsboro);
    }

    a, a:hover {
        color: var(--gainsboro);
    }

    a:hover {
        border-radius: 8px;
        transform: translateY(-1px);
        box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.2), 0 6px 20px 0 rgba(255, 255, 255, 0.2);
    }

    #logo {
        content:url("images/logo_white_tp.png");
    }
}

a {
    display: inline-block;
    text-decoration: underline;
    padding: 7px 14px;
    transition: 0.5s;
}

